@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.offscreen-canvas {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.react-flow__node-squiggleNodeType {
  width: var(--node-width);
}

.selecting .react-flow__node-squiggleNodeType {
  opacity: 0.5;
}

.selecting .react-flow__node-squiggleNodeType.selected {
  opacity: 1;
}

.react-flow__node.selected {
  outline: 4px rgb(165, 160, 160) dashed !important;
}

/* .react-flow__handle { */
.top-handle {
  position: absolute;
  width: 0px;
  height: 0px;
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #000;
  cursor: move;
  z-index: 10;
  padding: 0;
}

.react-flow__attribution {
  display: none;
}

.squiggle-chart,
.squiggle-chart > div {
  height: 100%;
  overflow: hidden;
}

.squiggle-chart > div > div.flex:nth-child(2) {
  display: block;
  width: 100%;
  overflow: hidden;
}

.squiggle-chart > div > div.flex:nth-child(2) > .overflow-auto {
  overflow: hidden;
}

/* Fix the squiggle chart single value size */
.squiggle-chart .font-semibold.text-slate-600 {
  font-size: 2.5rem;
  font-weight: 400 !important;
  @apply font-mono;
}

.react-flow__panel {
  background-color: white;
}

.range-slider,
.range-slider .range-slider__thumb {
  @apply h-6;
}

.range-slider .range-slider__thumb {
  @apply w-12 rounded-none;
}

.range-slider .range-slider__range,
.range-slider .range-slider__thumb {
  @apply bg-blue-400;
}
