@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.offscreen-canvas {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.react-flow__node-squiggleNodeType {
  width: var(--node-width);
}

.react-flow__handle {
  position: absolute;
  width: 0px;
  height: 0px;
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #000;
  cursor: move;
  z-index: 10;
  padding: 0;
}

.react-flow__attribution {
  display: none;
}
